a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body
{
    background: #fff;
    font: 14px/1.333 sans-serif;
    color: #080000;
}

header#primary
{
    width: 100%;
    height: 100px;
    background: #313131;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d4d4d), to(#313131));
    background-image: -moz-linear-gradient(#4d4d4d, #313131);
    background-image: -o-linear-gradient(#4d4d4d, #313131);
    background-image: linear-gradient(#4d4d4d, #313131);
}
header#primary h1
{
    margin: 0px 0px 0px 20px;
    padding: 0px;
    line-height: 100px;
    color: #ffffff;
}

#sidebar
{
    float: left;
    position: fixed;
    width: 300px;
    height: 400px;
}

#main
{
    margin-left: 300px;
     height: 1000px;
     width: auto;
     position: relative;
     background: #FFF;
     overflow: auto;
     text-align: center; 
     z-index: 1;
}

#menulogo img 
{padding-left: 30px;width:250px;}

h2 {width:150px;}

#works
{text-align:center; font-size:24px; font-family: 'Economica', sans-serif;}

ul a {padding-left:30px; font-family: 'Ek Mukta', sans-serif;}

#bookpage {font-size:50px; margin-top: 120px; font-family: 'Economica', sans-serif;}
#paulrandcover {padding-top: 50px;}
#paulrandpageone {margin-left: 100px;}
#paulrand {margin-left: 100px; margin-top:35px; margin-right:-70px; width:300px; height:430px; float: left;}

#careerfair {margin-left:225px;}
#cfdescription {padding-left:100px; padding-right:100px;}

#wefnewspaper {margin-left:-230px;}
#newspaper p{position: center;}
#newsphotos {margin-top: -540px; margin-left: 330px;}
#wefprogram {padding-top: 50px;}

#hdexpo {margin-left: -400px; margin-top: 100px;} 
#hdexpodes {width: 250px; position: absolute; top:28%; left:50%; text-align:left;}
#asa {margin-right:30px; margin-top: -300px; float:right; position:absolute; left:50%;}
#asades {width: 250px; position: absolute; top:84%; left:22%; margin-right:-22%; text-align: right;}
#wefposter {margin-left: -400px; margin-top: 300px;}
#wefposterdes {width: 250px; position: absolute; top:144%; left:50%; text-align:left;}
