body {background-color: #221f1f;}

#logo img{margin-left:120px; margin-top:300px; z-index:1000; width:100px;}
#smallscale {width:320px; float:center;}
#smallscaletwo {width:320px; float:center;}
#smallscalerocket {width: 250px; margin-top: -170px; margin-left:-40px;} 


#pageone {background-image: url("../animation/backgroundsmall.gif"); background-color: #221f1f; background-size: 100% 100%;} 
#guardian {position:center; margin:0 auto; width:350px;}  
section {display:block; max-width: 350px; margin:0 auto;}
#guardian img{display:block; position:relative; max-width:320px; margin: 0 auto;}
#guardian a img {width:20px; position: relative; left:-150px; top:200px;z-index:1000}
#rightarrow a img {width:20px; position:relative; margin:0 auto; margin-left:330px; margin-top:-180px}

#pagetwo {background-image: url("../animation/backgroundsmall.gif"); background-color: #221f1f; background-size: 100% 100%;}
#materialtitle {width:300px; position:relative; margin-left:30px;}
#material a img {width:20px; position: relative; left:0px; top:150px;}
#rightarrowmaterial a img {width:20px; position:relative; margin:0 auto; margin-left:300px; margin-top:110px}

#scissor img {position:relative; width:125px;left:100px;top:-250px;}
#paper img {position:relative; width:125px;left:100px;top:-250px;}
#tape img {position:relative; width:125px;left:100px;top:-250px;}
#tablet img {position:relative; width:125px;left:100px;top:-250px;}
#water img {position:relative; width:125px;left:100px;top:-250px;}
#glasses img {position:relative; width:125px;left:100px;top:-250px;}
#film img {position:relative; width:125px;left:100px;top:-250px;}
#lablematerial img {position:relative;left:10px;top:-250px;}

#pagethree {background-image: url("../animation/backgroundsmall.gif"); background-color: #221f1f; background-size: 100%;}
#preptitle {width:250px; position:relative; margin-left: 30px;}
#prep a img {width:20px; position: relative; margin-left:-275px; top:200px;}
#rightarrowprep a img {width:20px; position:relative; margin:0 auto; margin-left:290px; margin-top:160px}

#cutpaper {position:relative; margin-left:10px; margin-top:-175px; z-index: -1;}
#cutpaper img {width:300px;}
#lablepagethree{top:-200px; margin-left:10px;}

#pagefour{background-image: url("../animation/backgroundsmall.gif"); background-color: #221f1f; background-size: 100%;}
#tape a img {width:20px; position: relative; left:0px; top:250px;}
#arrowtape a img {width:20px; position:relative; margin:0 auto; margin-left:275px; margin-top:220px}

#tapeanimation {position:relative; margin-left:-30px; margin-top:-300px; z-index: -1;}
#tapeanimation img {width:320px;}
#lablepagefour{top:0px;margin-left:0px;}

#pagefive{background-image: url("../animation/backgroundsmall.gif"); background-color: #221f1f; background-size: 100%;}
#final a img {width:20px; position: relative; left:0px; top:290px;}
#arrowfinal a img {width:20px; position:relative; margin:0 auto; margin-left:275px; margin-top:250px}

#finalimg {position:relative; margin-left:-10px; margin-top:-330px; z-index: -1;}
#finalimg img {width:320px;}
#lablepagefour{top:0px; margin-left:0px;}

#pagesix{background-image: url("../animation/backgroundsmall.gif"); background-color: #221f1f; background-size: 100%;}
#launch a img {width:20px; position: relative; left:0px; top:275px;}
#arrowlaunch a img {width:20px; position:relative; margin:0 auto; margin-left:275px; margin-top:250px}

#launchimg {position:relative; margin-left:50px; margin-top:0px; z-index: -1;}
#launchimg img {width:200px;}
#launchtitle {position:relative; margin-left:0px; margin-top: -350px;}
#launchtitle img{width:300px}
#lablepagesix {top:-200px; margin-left:100px;}

#pageseven{background-image: url("../animation/backgroundsmall.gif"); background-color: #221f1f; background-size: 100%;}
#why a img {width:20px; position: relative; left:0px; top:300px;}
#arrowwhy a img {width:20px; position:relative; margin:0 auto; margin-left:300px; margin-top:275px}

#whyp p {padding-left:10px; padding-top:10px; padding-bottom: 10px; width:250px; font-family: helvetica;}
#whyp {color: #102b38; background: rgba(191, 208, 216, 0.7); width:270px; margin-left:30px; margin-top: -350px;}
#whytitle {margin-left:10px;}
#whytitle img {width:300px;}